@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');



header .pilt {
  background-image: url("pildid/banner.jpg");
      
width: 100%;
height: calc(100vh - 500px);
background-repeat: no-repeat;
background-position: center;
background-size: cover;  
}

header h1 {

font-family: "Open Sans", sans-serif;
font-weight: 700;

font-size: 60px;
color: #000000;
line-height: 70px;
text-transform: uppercase;
text-align: center;

}

header h2 {

font-family: "Open Sans", sans-serif;
font-weight: 300;
font-size: 15px;
letter-spacing: 5px;
color: #000000;
text-transform: uppercase;
text-align: center

}
header nav ul {

display: block;
margin: 0 auto;
text-align: center; /*IE*/
width: fit-content;

}

header nav ul li {

display: inline-block;
padding: 16px 16px;

}
nav ul li a {

font-family: "Open Sans", sans-serif;
font-weight: 400;
font-size: 18px;
letter-spacing: 3px;
color: #172029;
text-transform: uppercase;
text-decoration: none;

}
footer {

width: calc(100% - 80px);
padding: 40px 40px;
background-color: #F1F1F9;
margin-top: 20px;
overflow: hidden;
}



footer ul {

width: fit-content;
float: left;
padding-left: 0px;
}

footer ul li {

font-family: "Open Sans", sans-serif;
display: block;
padding: 0 0 10px 0;
}

footer ul li p {

font-family: "Open Sans", sans-serif;
font-weight: 500;
font-size: 18px;
letter-spacing: 2px;

text-transform: uppercase;

}


.footer-sm {

width: 40px;
float: right;

}

.footer-sm img {

width: 100%;
margin-bottom: 10px;

}
hr {

color: #4f5663;
border-width: 2px;
width: 30%;
margin: 0 auto;
margin-bottom: 5px;

}

.Meist h2 {

font-family: "Gentium Basic", sans-serif;
font-weight: 600;
font-size: 28px;
letter-spacing: 2px;
padding: 10px;
color: #3a383d;
text-transform: uppercase;
text-align: left;
}

.Meist img {
    width: 100%;
}


.post-header {       

/*kujundus*/
font-family: "Open Sans", sans-serif;
font-weight: 700;
font-size: 22px;
letter-spacing: 3px;
line-height: 24px;
color: #ffffff;
text-transform: uppercase;
    text-align: center;
text-shadow: 3px 3px 9px #111111;

   /*positsioneerimine*/
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.container {
    display:inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
   
}
.container img {
    width: auto;
    height: 100%;
    margin-left: -50px;
    
    
}

.gallery-links {
display: flex;

flex-flow: row wrap;
    

display: -webkit-flex;
-webkit-flex-flow: row wrap;
display: -moz-flex;
-moz-flex-flow: row wrap;
justify-content: center;
    
-o-flex-flow: row wrap;
justify-content: center;
}

@media only screen and (min-width: 950px) {   

header .header-banner {
      height: calc(100vh - 400px);
}   

header h1 a {
      font-size: 80px;
}  

header h2 {
      font-size: 24px;
      margin-top: 20px;
}

header nav ul li {
       padding: 16px 42px;
}
}

@media only screen and (min-width: 950px) {

    .tutvustus {
    display:grid;
    grid-template-columns: auto auto;
    padding:10px;
}
.rida{
    padding: 5px;
}
}